:root {
  --accent-100: #22074e;
  --accent-200: #3f3d3d;
  --secondary-100: rgba(0, 0, 0, 0.1);
  --primary-100: #fff;
  --primary-200: #5d3891;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  display: block;
  min-width: 300px;
  padding: 1.5rem 0.75rem;
  font-size: 18px;
  color: var(--accent-200);
  line-height: 1.1;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: var(--accent-100);
  text-align: center;
  margin-bottom: 3rem;
  width: 15rem;
  margin: 0 auto;
}

.heading span {
  color: #5909da;
  font-size: 2rem;
}

.limit__date {
  color: var(--accent-100);
  font-size: 1rem;
  border-bottom: 1px solid var(--secondary-100);
  padding: 0.25rem 0;
  margin-bottom: 0.5rem;
}

.limit__container {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  background-color: #edf1f3;
  border-radius: 0.5rem;
}

.limit__wrapper {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.limit__count {
  font-size: 1rem;
  background-color: var(--primary-200);
  color: white;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
